<h2>Bonjour {{ user.prenom }} {{ user.nomUtilisateur }},</h2>
<p>Voici votre code de vérification :</p>
<h3 style="color: #007bff;">{{ code }}</h3>
<p>Merci de l’utiliser pour activer votre compte.</p>
